.wrapper {
  width: 100%;
  border-bottom: solid 1px var(--border-menu);
  display: flex;
  justify-content: center;
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img {
      max-width: 31rem;
      max-height: 10rem;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0 2.5rem;
      border: solid 1px var(--border-menu);
      margin-bottom: -1px;
      img:first-child {
        width: 100%;
      }
    }
    .menu_items {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      .burger {
        display: none;
        width: 3rem;
        stroke: var(--def);
        fill: var(--def);
        transition: 0.3s;
      }
      .burger:hover {
        fill: var(--def-hover);
        stroke: var(--def-hover);
      }
      .menu_item {
        font-size: 1.6rem;
        color: var(--def);
        border: 1px solid transparent;
        transition: 0.3s;
        padding: 1.5rem 0 1rem 0;
        font-weight: 500;
        cursor: pointer;
      }
      .menu_item:hover {
        color: var(--def-hover);
        border-bottom: 1px solid var(--def-hover);
      }
    }
  }
  .menuAdaptive {
    position: fixed;
    width: 75%;
    height: 100%;
    right: 0;
    top: 0;
    transition: 0.5s;
    z-index: 5;
  }

  .menuAdaptiveDisabled {
    position: fixed;
    right: -100%;
    width: 0;
    height: 100%;
    transition: 0.5s;
    z-index: 5;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    .menu {
      .img {
        max-width: 21rem;
        max-height: 7rem;
        height: 7rem;
      }
      .menu_items {
        gap: 1rem;
        .menu_item {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .wrapper {
    .menu {
      .img {
        max-width: 15rem;
        max-height: 5rem;
        height: 5rem;
      }
      .menu_items {
        .burger {
          display: unset;
        }
        .menu_item {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .wrapper {
    .menuAdaptive {
      width: 100%;
    }
  }
}
